@import "tailwindcss";

html, body {
  overflow-x: hidden;
  position: relative;
  width: 100%;
  max-width: 100vw;
}

#root {
  overflow-x: hidden;
  position: relative;
  width: 100%;
  max-width: 100vw;
}
